.title-h1 {
    margin-left: 100px;
}
.new-spot-button button {
    margin-left: 100px;
    background-color: gray;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 1px black;
    color: white;
}

.update-delete-container {
    margin-bottom: 10px;
}

.update-delete-container button {
    margin-right: 8px;
    background-color: gray;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 1px black;
    color: white;

}

.update-delete-container OpenModalButton {
    margin-right: 8px;
    background-color: gray;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px 1px black;
    color: white;

}

.spotPrice {
    font-weight: bold;
    font-size: 17px;
    margin-top: 0px;
}
.spotPrice2 {
    font-size: 17px;
    margin-top: 0px;
}
.spotLocation {
    font-size: 17px;
}