.outermost-spot-div {
    display: flex;
    justify-content: center;
}

.spot-section{
    display: flex;
    padding: 40px 150px;
    flex-wrap: wrap;
    max-width: 1361px;
}
.spot-section-upper{
    display: flex;
    justify-content: space-between;
}
.spotReview {
    height: 40px
}
.spot-section-price {
    display: flex;
    align-items: center;
}

.spot-container-home{
    width: 300px;
    padding: 0px 20px;
}
.spotImg{
    width: 300px;
    height: 250px;
}

.spotPrice {
    font-weight: bold;
    font-size: 17px;
    margin-top: 0px;
}
.spotPrice2 {
    font-size: 17px;
    margin-top: 0px;
}
.nav-link {
    text-decoration: none;
    color: black;
}
.spotLocation {
    font-size: 17px;
}
.spotImg-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title-tooltip {
    visibility: hidden;
    position: absolute;
    background-color: rgba(255, 98, 81, 0.698);
    color: white;
    text-align: center;
    padding: 5px;
    margin-top: 30px;
    width: 80%;
    font-size: 17px;
}
.spotImg-container:hover .title-tooltip{
    visibility: visible;
}