.profile-dropdown {
  position: absolute;
  right: 15px;
  background-color: white;
  border: 2px solid black;
  padding: 5px;
  top: 75px;
  text-align: center;
}

.profile-dropdown li {
  list-style: none;
}

.logout-button {
  background-color: gray;
  color: white;
  border-radius: 10px;
  padding: 5px;
}
.manage-spots {
  background-color: white;
  border: none;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  color: black;
  font-size: 18px;
  width: 100%;
}


.signup-modal{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

}
.signup-modal form {
  display: flex;
 flex-direction: column;
 align-items: center;
}
.signup-modal input {
  width: 300px;
  background-color: rgb(236, 251, 246);
}
.signup-modal h1{
  margin: 0px;
  margin-bottom: 5px;
  font-size: 20px;
}
.signup-modal button {
  margin-top: 10px;
  width: 310px;
  height: 38px;
  border: 2px solid gray;
  box-shadow: 2px 2px 2px gray;
  color: gray;
}
.signup-modal p {
  color: rgb(255, 98, 81);
  margin: 0px;
  font-size: 15px;
}

.hidden {
  display: none;
}
.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgrey;
  list-style: none;
  padding: 0px 0px 15px 0px;
  
}
.navbar-logo {
  height: 50px;
}
.navbar-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-right {
  display: flex;
  align-items: center;
  
}

.new-spot-button {
  border: none;
  background-color: rgb(235, 235, 235);
  color: rgb(102, 158, 177);
  font-size: 15px;
  padding-right: 15px;
}

.menu-button{
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 20px;
}


.navbar-icon{
  display: flex;
  align-items: center;
  height: 30px;
  width: 30px;
}

.nav-a{
  text-decoration: none;
  color: rgb(255, 98, 81);
  font-size: 25px;
}